<div class="container-fluid">
  <%= link_to new_administrador_path, class: 'btn btn-primary float-right' do %>
    Novo Administrador
  <% end %>

  <h1 class="mt-4 mb-4">Administradores</h1>

  <form action="/alunos/importar" method="post" enctype="multipart/form-data" class="form-file" style="display: none">
    <input type="file" name="arquivo">
  </form>

  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          
          <tbody>
            <% @administradors.each do |administrador| %>
              <tr>
                <td><%= administrador.nome %></td>
                <td><%= administrador.email %></td>
                <td>
                  <%= link_to administrador, class: 'btn btn-primary btn-sm' do %>
                   <i class="fa fa-eye" aria-hidden="true"></i>
                  <% end %>

                  <%= link_to edit_administrador_path(administrador), class: 'btn btn-warning btn-sm' do %>
                    <i class="fa fa-eraser" aria-hidden="true"></i>
                  <% end %>

                  <%= link_to administrador, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-sm' do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



