<%= form_with(model: aluno, local: true) do |form| %>
  <% if aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
        <% aluno.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :callback_type %>
    <%= form.number_field :callback_type %>
  </div>

  <div class="field">
    <%= form.label :hottok %>
    <%= form.text_field :hottok %>
  </div>

  <div class="field">
    <%= form.label :aff %>
    <%= form.text_field :aff %>
  </div>

  <div class="field">
    <%= form.label :aff_name %>
    <%= form.text_field :aff_name %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency %>
  </div>

  <div class="field">
    <%= form.label :xcode %>
    <%= form.text_field :xcode %>
  </div>

  <div class="field">
    <%= form.label :payment_type %>
    <%= form.text_field :payment_type %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :prod %>
    <%= form.text_field :prod %>
  </div>

  <div class="field">
    <%= form.label :prod_name %>
    <%= form.text_field :prod_name %>
  </div>

  <div class="field">
    <%= form.label :producer_name %>
    <%= form.text_field :producer_name %>
  </div>

  <div class="field">
    <%= form.label :purchase_date %>
    <%= form.text_field :purchase_date %>
  </div>

  <div class="field">
    <%= form.label :confirmation_purchase_date %>
    <%= form.text_field :confirmation_purchase_date %>
  </div>

  <div class="field">
    <%= form.label :original_offer_price %>
    <%= form.text_field :original_offer_price %>
  </div>

  <div class="field">
    <%= form.label :cms_marketplace %>
    <%= form.text_field :cms_marketplace %>
  </div>

  <div class="field">
    <%= form.label :cms_vendor %>
    <%= form.text_field :cms_vendor %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :full_price %>
    <%= form.text_field :full_price %>
  </div>

  <div class="field">
    <%= form.label :name_subscription_plan %>
    <%= form.text_field :name_subscription_plan %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :phone_checkout_local_code %>
    <%= form.text_field :phone_checkout_local_code %>
  </div>

  <div class="field">
    <%= form.label :phone_checkout_number %>
    <%= form.text_field :phone_checkout_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
