<div class="container-fluid">
  <%= link_to new_aluno_path, class: 'btn btn-primary float-right' do %>
    Novo Aluno
  <% end %>
  <%= link_to "javascript:importarCSV()", class: 'btn btn-success float-right mr-2' do %>
    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
    Importar
  <% end %>
  <h1 class="mt-4 mb-4">Alunos</h1>
  <form action="/alunos/importar" method="post" enctype="multipart/form-data" class="form-file" style="display: none">
    <input type="file" name="arquivo">
  </form>
  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Plano</th>
              <th>Email</th>
              <th>Status</th>
              <th>Data</th>
              <th>Categoria</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @alunos.each do |aluno| %>
              <tr>
                <td style="text-transform: capitalize;"><%= aluno.name %></td>
                <td><%= aluno.name_subscription_plan %></td>
                <td><%= aluno.email %></td>
                <td><%= aluno.status %></td>
                <td><%= aluno.purchase_date.to_date.strftime("%d/%m/%Y") rescue "" %></td>
                <td><%= aluno.category %></td>
                <td>
                  <%= link_to aluno, class: 'btn btn-primary btn-sm w-100' do %>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to edit_aluno_path(aluno), class: 'btn btn-warning btn-sm w-100' do %>
                    <i class="fa fa-eraser" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to aluno, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-sm w-100' do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  const form = document.querySelector('.form-file')
  const inputFile = document.querySelector('[name="arquivo"]')
  
  function importarCSV() {
    inputFile.click()
  }
  
  inputFile.addEventListener('input', (e) => {
    form.requestSubmit()
  })
</script>
