<p id="notice"><%= notice %></p>

<p>
  <strong>Callback type:</strong>
  <%= @aluno.callback_type %>
</p>

<p>
  <strong>Hottok:</strong>
  <%= @aluno.hottok %>
</p>

<p>
  <strong>Aff:</strong>
  <%= @aluno.aff %>
</p>

<p>
  <strong>Aff name:</strong>
  <%= @aluno.aff_name %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @aluno.currency %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @aluno.transaction %>
</p>

<p>
  <strong>Xcode:</strong>
  <%= @aluno.xcode %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @aluno.payment_type %>
</p>

<p>
  <strong>Payment engine:</strong>
  <%= @aluno.payment_engine %>
</p>

<p>
  <strong>Status:</strong>
  <%= @aluno.status %>
</p>

<p>
  <strong>Prod:</strong>
  <%= @aluno.prod %>
</p>

<p>
  <strong>Prod name:</strong>
  <%= @aluno.prod_name %>
</p>

<p>
  <strong>Producer name:</strong>
  <%= @aluno.producer_name %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @aluno.purchase_date %>
</p>

<p>
  <strong>Confirmation purchase date:</strong>
  <%= @aluno.confirmation_purchase_date %>
</p>

<p>
  <strong>Original offer price:</strong>
  <%= @aluno.original_offer_price %>
</p>

<p>
  <strong>Cms marketplace:</strong>
  <%= @aluno.cms_marketplace %>
</p>

<p>
  <strong>Cms vendor:</strong>
  <%= @aluno.cms_vendor %>
</p>

<p>
  <strong>Price:</strong>
  <%= @aluno.price %>
</p>

<p>
  <strong>Full price:</strong>
  <%= @aluno.full_price %>
</p>

<p>
  <strong>Name subscription plan:</strong>
  <%= @aluno.name_subscription_plan %>
</p>

<p>
  <strong>Email:</strong>
  <%= @aluno.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @aluno.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @aluno.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @aluno.last_name %>
</p>

<p>
  <strong>Phone checkout local code:</strong>
  <%= @aluno.phone_checkout_local_code %>
</p>

<p>
  <strong>Phone checkout number:</strong>
  <%= @aluno.phone_checkout_number %>
</p>

<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
