<%= form_with(model: curso, local: true) do |form| %>
  <% if curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curso.errors.count, "error") %> prohibited this curso from being saved:</h2>
      <ul>
        <% curso.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :titulo %>
        <%= form.text_field :titulo, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :codeNome %>
        <%= form.text_field :codeNome, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :videoIntro %>
        <%= form.text_field :videoIntro, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :professor %>
        <%= form.text_field :professor, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :capa %>
        <%= form.text_field :capa, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :link %>
        <%= form.text_field :link, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :tipo %>
        <%= form.text_field :tipo, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :valor_de %>
        <%= form.text_field :valor_de, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :preco %>
        <%= form.text_field :preco, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :parcela %>
        <%= form.text_field :parcela, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :desconto %>
        <%= form.text_field :desconto, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :horas %>
        <%= form.text_field :horas, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <%= form.label :categorias %>
        <%= form.text_field :categorias, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :descricao, 'Descrição', class: "form-control-label" %>
        <%= form.text_area :descricao, :class => "tinymce", :id => "tinymceCustom", :rows => 40, :cols => 120 %>
        <%= tinymce %>
      </div>
    </div>
  </div>
  <%= form.submit 'Enviar', class: 'btn btn-success' %>
<% end %>
