<div class="container-fluid">
  <h1 class="mt-4 mb-4">Dashboard</h1>
  <div class="row">
      <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4">
              <div class="card-body">
                <h6>Todos os Alunos</h6>
                <h4><b><%=@qtd_total_alunos%></b></h4>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-md-6">
          <div class="card bg-warning text-white mb-4">
              <div class="card-body">
                <h6>Alunos Ativos</h6>
                <h4><b><%=@qtd_alunos_ativos%></b></h4>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-md-6">
          <div class="card bg-success text-white mb-4">
              <div class="card-body">
                <h6><a style="color: #fff" href="/atrasados">Alunos Atrasados</a></h6>
                <h4><b><%=@qtd_alunos_atrasados%></b></h4>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-md-6">
          <div class="card bg-danger text-white mb-4">
              <div class="card-body">
                <h6>Alunos Cancelados</h6>
                <h4><b><%=@qtd_alunos_cancelados%></b></h4>
              </div>
          </div>
      </div>
  </div>

  <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-table mr-1"></i>
         Alunos
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Plano</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Status</th>
                        <th>Data</th>
                        <th>Vencimento</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% @alunos_ativos.each do |aluno| %>
                        <tr>
                            <td style="text-transform: capitalize;"><%= aluno.name %></td>
                            <td><%= aluno.name_subscription_plan %></td>
                            <td><%= aluno.email %></td>
                            <td>
                            <% if aluno.phone_checkout_local_code.present? %>
                                <% @adm = Administrador.find(JSON.parse(cookies[:alunos_comunidade])["id"]) %>
                                <a href="https://api.whatsapp.com/send?phone=55<%= aluno.phone_checkout_local_code %><%= aluno.phone_checkout_number %>&text=Fala%20<%= aluno.name %>%2C%20tudo%20bem%3F%20Aqui%20%C3%A9%20o%20<%= @adm.nome%>%20do%20Torne-se%20um%20Programador.%0A" target="_black" style="color:#000">
                                    (<%= aluno.phone_checkout_local_code %>) <%= aluno.phone_checkout_number %>
                                </a>
                            <% end %>
                            </td>
                            <td><%= status_pagamento_aluno(aluno.status) %></td>
                            <td><%= aluno.confirmation_purchase_date.strftime("%d/%m/%Y") rescue ""%></td>
                            <td><%= aluno.vencimento%></td>
                        </tr>
                    <% end %>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>