<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1><span>Viva como se fosse morrer amanhã. <br/> Aprenda como se fosse viver para sempre.</span></h1>
    <ul class="actions">
      <li><a href="#two" class="button alt">Get Started</a></li>
    </ul>
  </div>
</section>

<!-- One -->
<section id="one" style="background-image: linear-gradient(#fff, #f1f1f1);">
  <div class="inner">
    <header>
      <h2>Nossos Ideais</h2>
    </header>
    <p>Somos uma comunidade que se importa com sua evolução, por isso você vai aprender através de mentorias.</p>
    <p>Benefícios de aprender por mentorias:</p>
    <ul>
      <li>Aprenda com quem tem experiência.</li>
      <li>Aprenda com os erros e acertos do seu mentor.</li>
      <li>Tenha auxílio e direcionamento do que fazer sempre.</li>
      <li>Encurte o máximo a curva de aprendizado.</li>
    </ul>
  </div>
</section>

<!-- Three -->
<section id="three">
  <header>
    <h2 class="text-center mb-4">Alunos</h2>
  </header>
  <div class="inner alunos">
    <div class="row">
    <%@alunos.each do |aluno|%>
      <div class="col-md-4">
        <a href="/alunos/<%= aluno.id %>" style="cursor: pointer; text-decoration: none;">
          <div class="content mb-4">
            <header>
              <h3 class="text-center"><%= aluno.name%></h3>
            </header>
            <div>
              <strong>Email:</strong>
              <span style="font-size: 17px"><%= aluno.email %></span>
  
              <br>
              <strong>Telefone:</strong>
              <a href="https://api.whatsapp.com/send?phone=55<%= aluno.phone_checkout_local_code %><%= aluno.phone_checkout_number%>&amp;text=Fala%20<%= aluno.first_name%> <%= aluno.last_name%>%2C%20tudo%20bem%3F%20Aqui%20%C3%A9%20o%20Thiago%20do%20Torne-se%20um%20Programador.%0A" target="_blank">
                (<%= aluno.phone_checkout_local_code %>) <%= aluno.phone_checkout_number%>
              </a>
  
              <br>
              <strong>Plano:</strong>
              <span style="font-size: 17px;"><%= aluno.name_subscription_plan %></span>
            </div>
          </div>
        </a>
      </div>
      <%end%>
    </div>
  </div>
</section>

<!-- Footer -->
<section id="footer">
    <div class="copyright text-center" style="color: #fff"> 
      &copy; Didox Bussines: Comundidade Torne-se um Programador</a>
    </div> 
</section>